@mixin screen-base {
  position: fixed;
  inset: 0;
  background: rgb(58, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  flex-direction: column;
}
